<mat-toolbar>
  <span>Moniman</span>

  <div class="toolbar-spacer"></div>

  <div *ngIf="!user">
    <button mat-button (click)="login()">Login</button>
  </div>
  <div *ngIf="user">
<!--    <button mat-button (click)="logout()">Logout</button>-->
    <button mat-button [matMenuTriggerFor]="userMenu">{{user.firstName}} {{user.lastName}}</button>
    <mat-menu #userMenu>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
